<section class="card section">
    <div class="card__wrapper">
        <h2 class="card__title">КУХОННИЙ СТІЛ<br> BANNERUP</h2>
        <div class="card__inner">
            <div class="card-picture">
                <picture class="icon">
                    <source srcset="./images/card-360.avif 1x, ./images/card-360@2x.avif 2x" type="image/avif">
                    <source srcset="./images/card-360.webp 1x, ./images/card-360@2x.webp 2x" type="image/webp">
                    <img srcset="./images/card-360.png 1x, ./images/card-360@2x.png 2x"
                        src="./images/card-360.png" alt="" class="">
                </picture>
                <picture class="img">
                    <source srcset="./images/card-table.avif 1x, ./images/card-table@2x.avif 2x" type="image/avif">
                    <source srcset="./images/card-table.webp 1x, ./images/card-table@2x.webp 2x" type="image/webp">
                    <img srcset="./images/card-table.png 1x, ./images/card-table@2x.png 2x"
                        src="./images/card-table.png" alt="" class="">
                </picture>
                <ul class="frame">
                    <li class="frame__item">
                        <svg class="frame__icon">
                            <use href="./images/sprite.svg#icon-frame"></use>
                        </svg>
                    </li>
                    <li class="frame__item">
                        <svg class="frame__icon">
                            <use href="./images/sprite.svg#icon-frame"></use>
                        </svg>
                    </li>
                    <li class="frame__item">
                        <svg class="frame__icon">
                            <use href="./images/sprite.svg#icon-frame"></use>
                        </svg>
                    </li>
                    <li class="frame__item">
                        <svg class="frame__icon">
                            <use href="./images/sprite.svg#icon-frame"></use>
                        </svg>
                    </li>
                </ul>
            </div>
            <div class="card-description">
                <h4 class="card-description__title card-text">5644 грн</h4>
                <ul class="card-description__list">
                    <li class="card-description__item">
                        <p class="card-text">Матеріали</p>
                        <p class="card-text">Штучна шкіра, ППУ, ПП
                        (поліпропілен), Сталь</p>
                    </li>
                    <li class="card-description__item">
                        <p class="card-text">Набивка</p>
                        <p class="card-text">Сидіння</p>
                    </li>
                    <li class="card-description__item">
                        <p class="card-text">Колір</p>
                        <p class="card-text">Білий</p>
                    </li>
                    <li class="card-description__item">
                        <p class="card-text">Розмір в зібраному стані</p>
                        <p class="card-text">Ширина: 49 см, висота: 85 см, глибина: 56 см</p>
                    </li>
                </ul>
                <button class="card-description__button card-text">Оформити</button>
            </div>
            
        </div>
    </div>
</section>